# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.a
*.so
*.dylib
# *.lib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
#*.exe
*.out
*.app

# custom folders to ignore
Debug
/build
/debug
/.idea
/.metals
/.vs
/Release
/Debug
/X64
/.vscode
/f*
/cmake-build-debug*
CMakeLists.txt.user
